<%= form_for @entry do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
  	<%= f.text_area :title, placeholder: "Compose new title of entry edit..." %>
    <%= f.text_area :body, placeholder: "Compose new entry edit..." %>
  </div>
  <%= f.submit "Post", class: "btn btn-primary"%>
<% end %>		